*{
    margin: 0px;
    padding: 0px;

}

#carouselExampleFade{
    
}

#navbar{
    height: 40px;
}

.container-fluid{
    height: 100px;
    font-size: larger;
    font-weight: 500;
}

h1{
    margin-top: 100px;
    text-align: center;
}

main div h4{
    text-align: center;
}
